<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	<title>Tasca 12 - Afegir i eliminar alumnes a una taula amb AngularJS</title>
	<!-- Llibreries de bootstrap afegides directament d'internet -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body style="background-color:silver" ng-controller="myCtrl">
	
	<div class="container">
		<div class="jumbotron">
			<br>
			<!-- Formulari -->
			<form ng-submit="coinConverter()">
				<div class="form-row">
					<div class="form-group col-md-4 offset-md-1">
						<input	type="number" 
						class="form-control mb-2 mr-sm-2" 
						id="quantitat" 
						placeholder="Quantitat a convertir:" 
						min="0"
						ng-model="consulta.quantitat" 
						required>
					</div>
					
					<div class="form-group col-md-6">
						<div class="input-group">
							<div class="input-group-prepend">
								<!-- En funció de la moneda triada mostrarem el seu simbol -->
								<div class="input-group-text" ng-switch on="consulta.tipus">
									<div ng-switch-when="EUR">{{monedes["EUR"].symbol}}</div>
									<div ng-switch-when="BTC">{{monedes["BTC"].symbol}}</div>
									<div ng-switch-when="ETH">{{monedes["ETH"].symbol}}</div>
									<div ng-switch-when="BCH">{{monedes["BCH"].symbol}}</div>
									<div ng-switch-when="LTC">{{monedes["LTC"].symbol}}</div>
									<div ng-switch-default>$$$</div>
								</div>
							</div>
							<select class="custom-select" 
							id="tipus"
							ng-model="consulta.tipus"
							required>
							<option value="" selected ng-selected="consulta">Tipus de moneda:</option>
							<!-- Construcció del select en funció de les monedes amb les que volem. -->
							<option ng-repeat="moneda in monedes" value={{moneda.symbol}}>{{moneda.name}}</option>
							</select>
							<div class="input-group-append">
								<button type="submit" class="btn btn-success btn-block">Conversió</button>
							</div>
						</div>
					</div>
				
				</div>
			</form>
		</div>
		
		<!-- Aquí mostram la resposta generada -->
		<ul class="col-md-6 offset-md-3 list-group">
			<li class="list-group-item list-group-item-success font-weight-bold" ng-repeat="result in resultat track by $index">{{result}}</li>
		</ul>

		<div class="footer">
			<!-- Pagina web creada per en Toni Caballero Salas -->
			<small class="text-muted">&nbsp&copy&nbspToni Caballero Salas</small>
		</div>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="js/controller.js"></script>
</body>
</html>
